.piu {
  border-radius: 25px;
  background-color: #e2a2c1;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.negrito{
  font-weight: bold;
  text-align: center;
}

.ne1{
  font-weight: bold;
}

.ne2{
  font-weight: bold;
}


.stop{
  background-color: #e9bed3;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}


.ploc{
  border-radius: 25px;
  background-color: #e2a2c1;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.ne3{
  font-weight: bold;
  text-align: center;
}

.c1 {
  background-color: #ffffff;
  border: solid 1px #fff;
  color: #fff;
  text-align: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.c2{
  background-color: #ffffff;
  border: solid 1px #fff;
  color: #fff;
  text-align: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.c3{
border:solid 1px black

}
.btn{
  cursor: pointer;
}

